<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Home</title>
</head>
<body>
    <button type="button" class="btn btn-success" id="openModalBtn" style="margin-top: 5%;">Add to Bucket List</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Course Name</th>
            <th>From</th>
            <th>To</th>
            <th scope="col">TimeFrame</th>
            <!-- <th scope="col"></th> -->
          </tr>
        </thead>
        <tbody>
          <% buckets.forEach(item => { %>
          <tr>
              <td><%= item.topic %></td>
              <td><%= item.startDate %></td>
              <td><%= item.endDate %></td>
              <td><%= item.timeframe %> Day</td>
          </tr>
          <% }); %>
      </tbody>
      </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add to Bucket List</h2>
            <form id="bucketListForm" class="modal-form">
                <label for="topic">Topic:</label>
                <input type="text" id="topic" name="topic" required>
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" class="form-control" required>

                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" class="form-control" required>

                <button type="submit" id="">Add</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/public/js/script.js"></script>
</body>
</html>
